.inputPanel {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;

    height: 40px;
    width: 500px;

    background: #FFFFFF;

    border: 1px solid #E1E3E6;
    border-radius: 8px;
    align-self: stretch;
    position: relative;

    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1B1F23;
}

.inputPanel::placeholder {
    color: #999FA6;
}