.ticketCard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    background: #FFFFFF;
    border-radius: 8px;
}

.picture {
    width: 100px;
    height: 120px;
    border-radius: 8px;
    position: relative;
}

.infoBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    height: 120px;
    align-self: stretch;
    flex-grow: 1;
}

.textInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    height: 48px;
    flex-grow: 1;

    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #1B1F23;
}

.name {
    height: 20px;
    display: flex;
    align-items: center;
}

.genre {
    height: 20px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 5px;
    width: 70px;
    height: 20px;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 20px;
    height: 20px;
    border-radius: 4px;
    position: relative;
}

.buttonActive {
    background: #FF5500;
}
.buttonActive:hover {
    cursor: pointer;
}
.buttonDisable {
    background: #FFA375;
}
.ticketCount {
    width: 20px;
    height: 20px;
    text-align: center;
}